.container{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail{
    width: 100%;
    height: 80%;
    background: white;
    border-radius: 15px;
}
.indetail{
    margin: 15px;
    display: flex;
}
.picside{
    width: 30%;
    padding: 10px;
}
.formside{
    width: 70%;
    padding: 10px;
}
.q-detail{
    width: 40%;
    height: 40%;
    background: white;
    border-radius: 15px;
}
.q-indetail{

    margin: 15px;
    display: flex;
}
